<div>
  <!-- Add new Post -->
  <div class="mt-3 d-flex align-items-center flex-column">
    <h1>Add new Post</h1>
    <%= form_with model: @post, url: user_posts_path, method: :post, class:
    'form' do |f|%> <%= f.text_field :title, class:"form-control" %>
    <br />
    <%= f.text_area :text, class:"form-control" %>
    <br />
    <%= f.submit "Post", class:"btn btn-primary" %> <% end %>
  </div>
</div>
